<a href="https://colab.research.google.com/github/suin8606/Machine-Learning-in-90days/blob/main/Multiple_Linear_Regression_using_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
from google.colab import files
files.upload()

Saving 50_Startups.csv to 50_Startups (1).csv

{'50_Startups.csv': b'R&D Spend,Administration,Marketing Spend,State,Profit\r\n165349.2,136897.8,471784.1,New York,192261.83\r\n162597.7,151377.59,443898.53,California,191792.06\r\n153441.51,101145.55,407934.54,Florida,191050.39\r\n144372.41,118671.85,383199.62,New York,182901.99\r\n142107.34,91391.77,366168.42,Florida,166187.94\r\n131876.9,99814.71,362861.36,New York,156991.12\r\n134615.46,147198.87,127716.82,California,156122.51\r\n130298.13,145530.06,323876.68,Florida,155752.6\r\n120542.52,148718.95,311613.29,New York,152211.77\r\n123334.88,108679.17,304981.62,California,149759.96\r\n101913.08,110594.11,229160.95,Florida,146121.95\r\n100671.96,91790.61,249744.55,California,144259.4\r\n93863.75,127320.38,249839.44,Florida,141585.52\r\n91992.39,135495.07,252664.93,California,134307.35\r\n119943.24,156547.42,256512.92,Florida,132602.65\r\n114523.61,122616.84,261776.23,New York,129917.04\r\n78013.11,121597.55,264346.06,California,126992.93\r\n94657.16,145077.58,282574.31,New York,125370.37\r\n91749.16,114175.79,294919.57,Florida,124266.9\r\n86419.7,153514.11,0,New York,122776.86\r\n76253.86,113867.3,298664.47,California,118474.03\r\n78389.47,153773.43,299737.29,New York,111313.02\r\n73994.56,122782.75,303319.26,Florida,110352.25\r\n67532.53,105751.03,304768.73,Florida,108733.99\r\n77044.01,99281.34,140574.81,New York,108552.04\r\n64664.71,139553.16,137962.62,California,107404.34\r\n75328.87,144135.98,134050.07,Florida,105733.54\r\n72107.6,127864.55,353183.81,New York,105008.31\r\n66051.52,182645.56,118148.2,Florida,103282.38\r\n65605.48,153032.06,107138.38,New York,101004.64\r\n61994.48,115641.28,91131.24,Florida,99937.59\r\n61136.38,152701.92,88218.23,New York,97483.56\r\n63408.86,129219.61,46085.25,California,97427.84\r\n55493.95,103057.49,214634.81,Florida,96778.92\r\n46426.07,157693.92,210797.67,California,96712.8\r\n46014.02,85047.44,205517.64,New York,96479.51\r\n28663.76,127056.21,201126.82,Florida,90708.19\r\n44069.95,51283.14,197029.42,California,89949.14\r\n20229.59,65947.93,185265.1,New York,81229.06\r\n38558.51,82982.09,174999.3,California,81005.76\r\n28754.33,118546.05,172795.67,California,78239.91\r\n27892.92,84710.77,164470.71,Florida,77798.83\r\n23640.93,96189.63,148001.11,California,71498.49\r\n15505.73,127382.3,35534.17,New York,69758.98\r\n22177.74,154806.14,28334.72,California,65200.33\r\n1000.23,124153.04,1903.93,New York,64926.08\r\n1315.46,115816.21,297114.46,Florida,49490.75\r\n0,135426.92,0,California,42559.73\r\n542.05,51743.15,0,New York,35673.41\r\n0,116983.8,45173.06,California,14681.4'}

In [15]:
df=pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
X=df.iloc[:,:-1]
y=df.iloc[:,4]

In [19]:
states=pd.get_dummies(X["State"],drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [20]:
X=X.drop('State',axis=1)
X=pd.concat([X,states],axis=1)

In [21]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [29]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)

y_pred=reg.predict(X_test); y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [30]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)